{% extends 'layouts/base.html' %}
{% block content %}
<h2>Order #{{ order.id }}</h2>
<p><strong>Customer:</strong> {{ order.customer.full_name }}</p>
<p><strong>Status:</strong> {{ order.status }}</p>
<p><strong>Created At:</strong> {{ order.created_at }}</p>
<p><strong>Delivery Address:</strong> {{ order.delivery_address }}</p>

<h4>Ordered Devices</h4>
<table class="table">
    <thead>
        <tr>
            <th>IMEI</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Price</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
    {% for item in order.items %}
        <tr>
            <td>{{ item.device.imei }}</td>
            <td>{{ item.device.brand }}</td>
            <td>{{ item.device.model }}</td>
            <td>KES {{ item.device.purchase_price }}</td>
            <td>{{ item.device.status }}</td>
            <p><strong>Total:</strong> KES 
            {{ order.get_total() }}
            </p>

        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <td colspan="3"></td>
        <th>Total:</th>
        <th>KES {{ order.get_total() }}</th>
    </tr>
</tfoot>
</table>

{% if order.status == 'pending' %}
<form method="POST" action="{{ url_for('auth.approve_order', order_id=order.id) }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
    <button class="btn btn-success">Approve Order</button>
</form>

<div class="text-center mt-3">
            <a href="{{ url_for('auth.view_orders') }}" class="btn btn-primary">
                <i class="fas fa-arrow-left"></i> Customer Orders
            </a>
</div>
{% endif %}

{% endblock %}
